body{
  margin: 0;
  background-color: black;
}


#background{
  width:100%;
  height:100%;
  position: absolute;

  
  z-index: 99;
  background-position-x: 50%;
    

}

.background{
  width:100%;
  height:200px;
  position: absolute;


  background-color: black;

}

#container{
  position: relative;
  width: 100%;
  height: 100%;
}

#background-layer-0{
  background-color: black;
  
  z-index: 50;
}

#background-layer-1{
  background-color: black;
  
  top:200px;

  z-index: 55;
}

#background-layer-2{
  background-color: black;
  
 top:400px;

  z-index: 60;
}




.character{
  background-image:  url('../img/sprite-characters.png');  

  position:absolute;

  width: 200px;
  height: 200px;

  background-color: green;

  top: 500px;

/*
  -moz-transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -moz-animation-name: upCharacter;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: 10;
  -moz-animation-direction: linear;
 

*/
}

.character-transition{
  transition-property: top;
  transition-duration: 3s;
  transition-timing-function: linear;
}

/*
@-moz-keyframes upCharacter {
  100%{
    top: 200px;
  }
}
*/

#character-0{
  
  left:20px;

  z-index: 51;
}

#character-1{
  
  left:183px;

  z-index: 51;
}

#character-2{
  
  left:15px;

  z-index: 56;
}

#character-3{
  
  left:173px;

  z-index: 56;
}



#player-health{
  position: absolute;
  font-size:2em;
  left: 0%;
  padding-left: 2%;
  text-align: right;
  bottom:20px;
  z-index:100;
}

#player-health img{
  width: 20px;
}

#player-health-bar{
   position: absolute;
  background-color: blue;
  font-size:2em;
  left: 0%;
  bottom:0px;
  width: 100%;
  height: 20px;
  z-index:100;
}
#player-health-bar-fill{
   position: absolute;
  background-color: red;
  font-size:2em;
  left: 0%;
  bottom:0px;
  width: 60%;
  height: 20px;
  z-index:101;
}

.blood{
  position: absolute;
  z-index: 101;
  width: 100px;
}

.fire{
  position: absolute;
  z-index: 102;
  width: 100px;
}





#player-score{
  position: absolute;
  background-color: blue;
  font-size:2em;
  right: 10%;
  bottom:20px;
}

#message{
  position: absolute;
  top:0;
  text-align: center;
  width: 100%;
  font-size:2em;
  background-color: yellow;

  z-index:100;
}

#reload-button{
  position: absolute;
  /* font-size: 2em; */
  right: 0%;
  padding-left: 2%;
  /* text-align: right; */
  bottom: 20px;
  z-index: 100;
}

#reload-button img{
  width:100px;
}



#gun{
   position: absolute;
  left: 8%;
  bottom: 20px;
  background-image: url('../img/sprite-handgun.png');
  width: 170px;
  height: 142px;
  /* background-color: yellow; */
  z-index: 100;
  background-size: 117%;
}

#secondary-character{
  position: absolute;
  bottom: -200px;
  right:0;
  width: 100px;
  height: 200px;
}