body{
  margin: 0;
  background-color: black;
}


#background{
   position: absolute;
  top: 46px;
  z-index: 100;
  background-position-x: 50%;
  pointer-events: none;
  width: 500px;
  left: -98px;
}

#sky{
  position: absolute;
  top: -273px;
  left:0;

  
  z-index: 90;
  background-position-x: 50%;

  pointer-events: none;

  -webkit-animation-name: skymoving;
  -webkit-animation-duration:60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
}


@-webkit-keyframes skymoving {
  0% {
    left: 0;
  }
  100% {
    left: -1000;
  }
}



.background{
  width:100%;
  height:200px;
  position: absolute;


  background-color: black;

}

#container{
  position: relative;
  width: 100%;
  height: 100%;
}

#background-layer-0{
  background-color: black;
  
  z-index: 50;
}

#background-layer-1{
  background-color: rgb(50, 49, 55);
  
  top:200px;

  z-index: 98;
}

#background-layer-2{
  background-color: black;
  
 top:400px;

  z-index: 60;
}




.character{
  background-image:  url('../img/sprite-characters.png');  

  position:absolute;

  width: 200px;
  height: 200px;


  top: 500px;

/*
  -moz-transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -moz-animation-name: upCharacter;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: 10;
  -moz-animation-direction: linear;
 

*/
}

.character-transition{
  transition-property: top;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.character-transition-fast{
  transition-duration: 1s;
}

.character-transition-faster{
  transition-duration: 0.5s;
}

.character-transition-fastest{
  transition-duration: 0.1s;
}


/*
@-moz-keyframes upCharacter {
  100%{
    top: 200px;
  }
}
*/

#character-0{
  
  left:-5px;

    z-index: 95;
}

#character-1{
  
  left:145px;

  z-index: 95;
}

#character-2{
  
  left:-25px;

  z-index: 99;
}

#character-3{
  
  left:145px;

  z-index: 99;
}



#player-health{
  position: absolute;
  font-size:2em;
  left: 0%;
  padding-left: 2%;
  text-align: right;
  bottom:20px;
  z-index:100;
}

#player-health img{
  width: 20px;
}

#player-health-bar{
   position: absolute;
  background-color: blue;
  font-size:2em;
  left: 0%;
  bottom:0px;
  width: 100%;
  height: 20px;
  z-index:100;

  overflow: hidden;

  background-image:url('../img/health-bar.png');


}



#player-health-bar img{
  width: 100%;
  position:absolute;
  bottom: 0px;
  
  -webkit-animation-name: bloodmoving;
  -webkit-animation-duration:30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes bloodmoving {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -100px;
  }
}

/*


#player-health-bar-fill{
   position: absolute;
  background-color: red;
  font-size:2em;
  left: 0%;
  bottom:0px;
  width: 60%;
  height: 20px;
  z-index:101;
}*/

.blood{
  position: absolute;
  z-index: 101;
  width: 100px;
}

.fire{
  position: absolute;
  z-index: 102;
  width: 100px;
}





#player-score{
  position: absolute;
  background-color: blue;
  font-size:2em;
  right: 10%;
  bottom:20px;
}

#message{
  position: absolute;
  top:0;
  text-align: center;
  width: 100%;
  font-size:2em;
  background-color: yellow;

  z-index:100;
}

#reload-button{
  position: absolute;
  /* font-size: 2em; */
  right: 0%;
  padding-left: 2%;
  /* text-align: right; */
  bottom: 20px;
  z-index: 100;
}

#reload-button img{
  width:100px;
}



#gun{
   position: absolute;
  left: 8%;
  bottom: 20px;
  width: 170px;
  height: 142px;
  /* background-color: yellow; */
  z-index: 100;
  /*background-size: 117%;*/

  -webkit-animation-name: gunmoving;
  -webkit-animation-duration:5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
}

#gun{
  
}

@-webkit-keyframes gunmoving {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 19px;
  }
}


#secondary-character{
  position: absolute;
  bottom: -200px;
  right:0;
  width: 100px;
  height: 200px;
}